.text--uppercase
    text-transform: uppercase
.text--bold
    font-weight: 700
.text--thin
    font-weight: 300

.text--white
    color: $white
.text--black
    color: $black
.text--main
    color: $main
.text--gray
    color: $gray
.text--yellow
    color: $yellow
.text--orange
    color: $orange
