#navigation
    @media #{$md}
        padding-top: 15px

.navigation__list
    list-style: none
    li
        display: inline-block
        margin-left: -4px
        vertical-align: middle

.navigation__link
    color: $gray
    padding: 2px 12px
    &:hover
        color: $white
    &:focus
        color: $white
        text-decoration: underline
    &.active
        color: #f09f44
    @media #{$md}
        padding: 2px 10px
