.portfolio__container
    margin-bottom: 40px
    border-radius: 7px
    overflow: hidden

.portfolio__image
    overflow: hidden
    border-top-left-radius: 7px
    border-top-right-radius: 7px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    transform: translateY(5px)
    @media #{$md}
        margin-top: 4em
        max-width: 80%
    .image
        border-top-left-radius: 7px
        border-top-right-radius: 7px

.portfolio__content
    padding: 0 15px 20px

.portfolio__title
    margin: 20px 0

.portfolio__paragraph
    font-size: 1em
    line-height: 1.5em
    margin-bottom: 15px

.portfolio__footer
    i.fab,
    i.fas
        display: inline-block
        cursor: pointer
        color: $lightgray
        margin-left: 0
        margin-right: 10px
        font-size: 1.5em

[class*="-scheme"]
    border-radius: 7px

.tag
    display: inline-block
    margin-right: 5px
    margin-bottom: 15px
    border: 1px solid $white
    border-radius: 7px
    padding: 3px 5px

.d2d-scheme
    background-color: #4b505a
    color: $white
    .portfolio__paragraph
        color: $white

.portfolio-scheme
    background-color: #68688e
    color: $white
    .portfolio__paragraph
        color: $white

.signature-scheme
    background-color: #e4e4e4
    color: #333
    .portfolio__paragraph
        color: #333
    i.fab, i.fas
        color: #333
    .tag
        border-color: rgba(0, 0, 0, .75)

.autominer-scheme
    background-color: #395983
    color: $white
    .portfolio__paragraph
        color: $white

.threedium-scheme
    background-color: #495fa0
    color: $white
    .portfolio__paragraph
        color: $white

.jseasy-scheme
    background-color: #e8c71f
    color: #333
    .portfolio__paragraph
        color: #333
    i.fab, i.fas
        color: #333
    .tag
        border-color: rgba(0, 0, 0, .75)

.meinunfall-scheme
    background-color: #99D5FF
    color: #363638
    .portfolio__paragraph
        color: #363638
    i.fab, i.fas
        color: #363638
    .tag
        border-color: #363638

.rentacar-scheme
    background-color: #4A4A4A
    color: $white
    .portfolio__paragraph
        color: $white
    .tag
        border: 1px solid #fafafa
